---
import verifyJWT from "../services/verifyjwt";
const jwtCookie = Astro.cookies.get("jwt");
const jwt = jwtCookie?.value ? jwtCookie.value : "";
const user = verifyJWT(jwt);
---

<header>
  <h1>My Groceries.</h1>
  {
    user && (
      <form action="/api/user/logout" method="POST">
        <p>{user ? `Hello ${user.username}` : "You are not logged in."}</p>
        <button class="logout blue" type="submit">
          Sign out
        </button>
      </form>
    )
  }
</header>
