---
import Recipe from "../../components/Recipe";

interface Props {
  recipes: { id: string }[];
}

export const prerender = true

export async function getStaticPaths() {
  let recipes = [];
  const RECIPES_API_URL = import.meta.env.RECIPES_API_URL;
  const recipesJSON = await fetch(`${RECIPES_API_URL}/api/recipes`);

  if (recipesJSON.status === 200) {
    recipes = await recipesJSON.json();
  }

  const paths = recipes.map((recipe: any) => {
    return {
      params: { id: recipe.id },
      props: { recipes },
    };
  });
  return paths;
}

const { id } = Astro.params;
const { recipes } = Astro.props;

let currentRecipe;
if (recipes) {
  currentRecipe = recipes.find((recipe) => recipe.id == id);
}
---

{
  currentRecipe && currentRecipe.id ? (
    <div>
      <Recipe recipe={currentRecipe} />
    </div>
  ) : (
    ""
  )
}
