* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: var(--step-2);
  font-weight: 700;

  @include sm {
    font-size: var(--step-3);
  }

  @include lg {
    font-size: var(--step-5);
  }

  @include xl {
    font-size: var(--step-6);
  }

  @include xxl {
    font-size: var(--step-7);
  }
}

h2 {
  font-size: var(--step-1);
  font-weight: 600;

  @include sm {
    font-size: var(--step-2);
  }

  @include lg {
    font-size: var(--step-3);
  }

  @include xxl {
    font-size: var(--step-2);
  }
}

h3 {
  font-size: var(--step-1);

  @include sm {
    font-size: var(--step-1);
  }

  @include lg {
    font-size: var(--step-2);
  }

  @include xxl {
    font-size: var(--step-1);
  }
}

a,
p,
span,
input,
select,
label {
  font-size: var(--step-0);

  @include lg {
    font-size: var(--step--1);
  }
}
