---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import verifyJWT from "../../services/verifyjwt";
import Tokens from "csrf";

const tokens = new Tokens();
const csrfSecret: string = import.meta.env.CSRF_SECRET as string;
const token = await tokens.create(csrfSecret);

const jwtCookie = Astro.cookies.get("jwt");
const jwt = jwtCookie?.value ? jwtCookie.value : "";
const user = verifyJWT(jwt);

if (user) {
  return Astro.redirect("/");
}
---

<Layout title="Login">
  <div class="page--login">
    <div class="container login-hero">
      <h1>Sign in</h1>
    </div>

    <div class="container login-form">
      <h1>Sign in</h1>

      <form action="/api/user/login" method="post">
        <section>
          <label for="username">
            <span>Username</span>
            <input
              id="username"
              name="username"
              type="text"
              autocomplete="username"
              placeholder="Username here..."
              required
              autofocus
              value="alice"
            />
          </label>
        </section>

        <section>
          <label for="current-password">
            <span>Password</span>
            <input
              id="current-password"
              name="password"
              type="password"
              autocomplete="current-password"
              placeholder="Password here..."
              required
              value="wonderland"
            />
          </label>
        </section>

        <input type="hidden" name="_csrf" value={token} />

        <div class="buttons">
          <a href="/user/register">
            <button type="button">Register</button>
          </a>

          <button type="submit" class="blue">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</Layout>
