---
import Button from "../../components/Form/Button";
import Layout from "../../layouts/Layout.astro";
import { fetchUser } from "../../services/api/fetchUser";
import Tokens from "csrf";

export const prerender = true;

const tokens = new Tokens();
const csrfSecret: string = import.meta.env.CSRF_SECRET as string;
const token = await tokens.create(csrfSecret);

const user = await fetchUser(Astro.cookies.get("jwt"));
if (user) {
  return Astro.redirect("/");
}
---

<Layout title="Login" description="Login to the groceries and recipes application.">
  <div class="page--register-login">
    <div class="container login-hero">
      <div>
        <h1>Sign in</h1>
        <div class="blob"></div>
      </div>
    </div>

    <div class="container login-form">
      <h1>Sign in</h1>

      <form action="/api/user/login" method="post">
        <label for="username">
          <span>Username</span>
          <input
            id="username"
            name="username"
            type="text"
            autocomplete="username"
            placeholder="Username here..."
            required
            autofocus
            value="alice"
          />
        </label>

        <label for="current-password">
          <span>Password</span>
          <input
            id="current-password"
            name="password"
            type="password"
            autocomplete="current-password"
            placeholder="Password here..."
            required
            value="wonderland"
          />
        </label>

        <input type="hidden" name="_csrf" value={token} />

        <div class="buttons">
          <a href="/user/register">
            <Button type="button" style="secondary">Register</Button>
          </a>

          <Button type="submit" style="primary">Sign in</Button>
        </div>
      </form>
    </div>
  </div>
</Layout>
