---
import Layout from "../../layouts/Layout.astro";
import verifyJWT from "../../services/verifyjwt";
import Tokens from "csrf";

export const prerender = true;

const tokens = new Tokens();
const csrfSecret: string = import.meta.env.CSRF_SECRET as string;
const token = await tokens.create(csrfSecret);

const jwtCookie = Astro.cookies.get("jwt");
const jwt = jwtCookie?.value ? jwtCookie.value : "";
const user = verifyJWT(jwt);

if (user) {
  return Astro.redirect("/");
}
---

<Layout title="Register">
  <div class="page--login">
    <div class="container login-hero">
      <h1>Register</h1>
    </div>

    <div class="container login-form">
      <h1>Register</h1>

      <form action="/api/user/register" method="post">
        <section>
          <label for="username">
            <span>Username</span>

            <input
              id="username"
              name="username"
              type="text"
              autocomplete="username"
              required
              placeholder="Username here..."
            />
          </label>
        </section>

        <section>
          <label for="new-password">
            <span>Password</span>

            <input
              id="new-password"
              name="password"
              type="password"
              autocomplete="new-password"
              required
              placeholder="Password here..."
            />
          </label>
        </section>

        <input type="hidden" name="_csrf" value={token} />

        <div class="buttons">
          <button type="submit">
            <a href="/user/login">To sign in</a>
          </button>

          <button type="submit" class="blue">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</Layout>
