---
import { Button } from "../../components";
import Layout from "../../layouts/Layout.astro";
import { fetchUser } from "../../services/api/fetchUser";
import Tokens from "csrf";

export const prerender = true;

const tokens = new Tokens();
const csrfSecret: string = import.meta.env.CSRF_SECRET as string;
const token = await tokens.create(csrfSecret);

const user = await fetchUser(Astro.cookies.get("jwt"));
if (user) {
  return Astro.redirect("/");
}
---

<Layout title="Register" showFooter={false}>
  <div class="page--register-login page--register">
    <div class="container login-hero">
      <h1>Register</h1>
      <div class="blob"></div>
    </div>

    <div class="container login-form">
      <h1>Register</h1>

      <form action="/api/user/register" method="post">
        <label for="username">
          <span>Username</span>

          <input
            id="username"
            name="username"
            type="text"
            autocomplete="username"
            required
            placeholder="Username here..."
          />
        </label>

        <label for="new-password">
          <span>Password</span>

          <input
            id="new-password"
            name="password"
            type="password"
            autocomplete="new-password"
            required
            placeholder="Password here..."
          />
        </label>

        <input type="hidden" name="_csrf" value={token} />

        <div class="buttons">
          <Button type="button" style="secondary">To sign in</Button>
          <Button type="submit" style="primary">Sign up</Button>
        </div>
      </form>
    </div>
  </div>
</Layout>

<script>
  const buttons = document.getElementsByTagName("button");
  buttons[0].addEventListener("click", () => {
    window.location.href = "/user/login";
  });
</script>
