---
export const prerender = false;

import { fetchShoppingList } from "../services/api/fetchShoppingList";
import { fetchRecipes } from "../services/api/fetchRecipes";
import { fetchUser } from "../services/api/fetchUser";

import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import ShoppingList from "../components/ShoppingList/ShoppingList";
import Recipes from "../components/Recipes";
import App from "../components/App";

let recipes = [];
recipes = await fetchRecipes();

const user = await fetchUser(Astro.cookies.get("jwt"));

let dbShoppingList;
if (user) {
  dbShoppingList = await fetchShoppingList(0);
} else {
  return Astro.redirect("/user/login");
}
---

<Layout title="Your Shopping List.">
  <App client:load user={user} />

  <Header />

  <div class="container shopping--container">
    {user ? <ShoppingList client:load dbShoppingList={dbShoppingList} /> : <a href="/user/login">Login</a>}
    <Recipes client:idle serverRecipes={recipes} />
  </div>
</Layout>
