---
import Layout from "../layouts/Layout.astro";
import Recipes from "../components/Recipes";
import ShoppingList from "../components/ShoppingList/ShoppingList";
import "../styles/index.scss";
import { mongodb } from "../services/db";
// const RECIPES_API_URL = import.meta.env.RECIPES_API_URL;
// const recipesJSON = await fetch(`${RECIPES_API_URL}/recipes`);
// const recipes = await recipesJSON.json();

const DB_NAME: string = import.meta.env.DB_NAME as string;
const COLLECTION_NAME: string = import.meta.env.COLLECTION_NAME as string;
let db = await mongodb.db(DB_NAME);
let collection = await db.collection(COLLECTION_NAME);
let shoppingItems = await collection.find({}).limit(10).toArray();
const dbShoppingList = shoppingItems[0];
---

<Layout title="Welcome to Astro.">
  <main>
    <ShoppingList client:load dbShoppingList={dbShoppingList} />
    <br />
    <br />
    <br />
    <!-- <Recipes client:idle recipes={recipes} /> -->
  </main>
</Layout>
