---
import { mongodb } from "../services/db";
import verifyJWT from "../services/verifyjwt";
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import ShoppingList from "../components/ShoppingList/ShoppingList";
import Recipes from "../components/Recipes";

export const prerender = true;

let recipes = [];
try {
  const RECIPES_API_URL = import.meta.env.RECIPES_API_URL;
  if (RECIPES_API_URL) {
    const recipesJSON = await fetch(`${RECIPES_API_URL}/api/recipes`);
    if (recipesJSON.status === 200) {
      recipes = await recipesJSON.json();
    }
  }
} catch (error) {
  console.error(error);
}

const jwtCookie = Astro.cookies.get("jwt");
const jwt = jwtCookie?.value ? jwtCookie.value : "";
const user = verifyJWT(jwt);

let dbShoppingList;

if (user) {
  const DB_NAME: string = import.meta.env.DB_NAME as string;
  const COLLECTION_NAME: string = import.meta.env.COLLECTION_NAME as string;
  let db = await mongodb.db(DB_NAME);
  let collection = await db.collection(COLLECTION_NAME);
  // TODO: fetch USER collection.
  let shoppingItems = await collection.find({}).limit(10).toArray();
  dbShoppingList = shoppingItems[0];
} else {
  return Astro.redirect("/user/login");
}
---

<Layout title="Your Shopping List.">
  <Header />
  {user ? <ShoppingList client:load dbShoppingList={dbShoppingList} /> : <a href="/user/login">Login</a>}
  <Recipes client:idle recipes={recipes} />
</Layout>
