---
export const prerender = false;

import { fetchShoppingList } from "../services/api/fetchShoppingList";
import { fetchUser } from "../services/api/fetchUser";

import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import { setUser } from "../services/store";
import { App, Content } from "../components";
import { fetchRecipes } from "../services/api/fetchRecipes";

let recipes = [];
recipes = await fetchRecipes("");

const user = await fetchUser(Astro.cookies.get("jwt"));
if (user) {
  setUser(user);
}

let dbShoppingList;
if (user) {
  dbShoppingList = await fetchShoppingList();
} else {
  return Astro.redirect("/user/login");
}
---

<Layout title="Your Shopping List.">
  <App client:load user={user} />

  <Header />

  <div class="container pagea--groceries">
    <Content client:only dbShoppingList={dbShoppingList} recipes={recipes} />
  </div>
</Layout>
