button {
  padding-top: var(--step--5);
  padding-bottom: var(--step--5);
  padding-left: var(--step-2);
  padding-right: var(--step-2);
  box-sizing: border-box;
  margin: 0;
  flex-shrink: 0;
  color: white;
  background-color: black;
  border-radius: 80px;
  border: 2px solid transparent;
  outline: 0;
  font-size: var(--step--1);

  a {
    color: inherit;
    text-decoration: none;
  }

  @include fine {
    &:hover {
      cursor: pointer;
      background-color: transparent;
      border-color: transparent;
      border: 2px solid black;
      color: black;
    }
  }

  @include md {
    &:hover {
      background-color: transparent;
      color: black;
      border-color: black;
    }
  }

  &.attention {
    background-color: black;
    border-color: transparent;
    border: 2px solid black;
    color: white;
    font-weight: 700;

    @include fine {
      &:hover {
        color: black;
        background-color: transparent;
      }
    }
  }

  &.blue {
    background-color: var(--color-blue-3);
    border-color: transparent;
    color: white;

    @include fine {
      &:hover {
        background-color: var(--color-blue-4);
      }
    }
  }

  &.white {
    background-color: var(--color-white);
    border-color: black;
    color: black;

    @include fine {
      &:hover {
        color: white;
        background-color: black;
      }
    }
  }

  @include xxl {
    font-size: var(--step--2);
  }
}
