.container {
  padding-left: var(--step--1);
  padding-right: var(--step--1);

  @include sm {
    padding-left: var(--step-0);
    padding-right: var(--step-0);
  }

  @include md {
    padding-left: var(--step-1);
    padding-right: var(--step-1);
  }

  @include lg {
    padding-left: var(--step-2);
    padding-right: var(--step-2);
  }

  @include xl {
    padding-left: var(--step-3);
    padding-right: var(--step-3);
  }
}
