.container {
  padding: var(--step--1);
  margin-bottom: var(--step--2);

  @include sm {
    padding: var(--step-0);
  }

  @include md {
    padding: var(--step-1);
  }

  @include lg {
    padding: var(--step-2);
  }

  @include xl {
    padding: var(--step-3);
  }
}
