label {
  display: inline-flex;
  flex-direction: column;

  > :first-child {
    margin-bottom: var(--step--4);
  }
}

input,
select {
  padding: var(--step--7);
  border: 2px solid var(--color-blue-4);
  border-radius: 4px;
  color: var(--color-blue-5);

  @include xl {
    padding: var(--step--4);
  }
}

input[type="checkbox"] {
  width: var(--step-0);
  height: var(--step-0);
}
