label {
  display: inline-flex;
  flex-direction: column;

  > :first-child {
    margin-bottom: var(--step--4);
  }
}

input,
select {
  padding: var(--step--4);

  @include xl {
    padding: var(--step--1);
  }
}

button {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding-top: var(--step--5);
  padding-bottom: var(--step--5);
  padding-left: var(--step--3);
  padding-right: var(--step--3);
  box-sizing: border-box;
  margin: 0;
  flex-shrink: 0;
  color: var(--color-green-1);
  background-color: var(--color-green-3);
  border-radius: 4px;
  border: 0px;
  outline: 0;
  font-size: var(--step--2);
  font-size: var(--step--2);

  @include md {
    font-size: var(--step--1);
    &:hover {
      background-color: var(--color-green-2);
    }
  }
}
