header {
    border-bottom: 1px solid var(--color-gray-2);
    padding: var(--step--2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--step-0);

    sup {
        font-size: var(--step--3);

        @include sm {
            font-size: var(--step--2);
        }

        @include xl {
            font-size: var(--step-0);
        }
    }

    h1 {
        margin: 0;
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin: 0 var(--step--2);
            font-size: var(--step--1);

            @include md {
                margin: 0 0 var(--step--1) 0;
            }
        }

        @include md {
            flex-direction: column;
            align-items: start;
        }
    }

    @include sm {
        padding: var(--step-0);
    }

    @include md {
        padding: var(--step--2);
        margin-bottom: var(--step-1);
    }

    @include lg {
        padding: var(--step-0);
        margin-bottom: var(--step-2);
    }

    @include xl {
        padding: var(--step-0);
    }

    @include xxl {
        padding: var(--step-2);
    }

    @include xxxl {
        padding: var(--step-1);
    }
}
