.planning--card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 120ms;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    align-items: flex-end;
    padding: var(--step--3);
    border: 1px solid transparent;
    justify-content: space-between;
    margin-bottom: var(--step-1);

    &.empty {
        border-color: var(--color-gray-2);
        color: black;
        transition: all 120ms ease-in-out;

        @include fine {
            &:hover {
                font-weight: 700;
                border-color: var(--color-emerald-3);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }

    @include md {
        padding: var(--step--2);
        margin-bottom: var(--step--1);
    }

    @include lg {
        padding: var(--step--1);
        margin-bottom: var(--step--2);
    }

    @include xl {
        padding: var(--step--1);
        margin-bottom: var(--step--4);
    }

    .first-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: var(--step-2);
    }

    div {
        h3 {
            margin: 0;
            padding: 0;
            font-size: var(--step-1);

            @include md {
                font-size: var(--step-0);
            }

            @include lg {
                font-size: var(--step--1);
            }
        }

        span {
            font-size: var(--step--1);

            @include sm {
                font-size: var(--step--2);
            }

            @include md {
                font-size: var(--step--1);
            }

            @include lg {
                font-size: var(--step--2);
            }
        }

        button.add-button {
            align-self: flex-end;
            justify-self: flex-end;
        }
    }
}
