.recipe--card {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 120ms;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--step--3);
  margin-bottom: var(--step-1);

  &:hover {
    cursor: pointer;
  }

  @include md {
    padding: var(--step--2);
  }

  @include lg {
    padding: var(--step--1);
    margin-bottom: var(--step--4);
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: var(--step-2);
    justify-content: space-between;

    h3 {
      margin: 0;
      padding: 0;
      font-size: var(--step-1);

      @include md {
        font-size: var(--step-0);
      }

      @include lg {
        font-size: var(--step--1);
      }
    }

    span.course {
      font-size: var(--step--2);
    }

    div:first-of-type {
      flex-direction: column;
    }

    button.add-button {
      align-self: flex-end;
      justify-self: flex-end;
    }
  }
}
