.seasonal-veggies {
  div {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include lg {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include xl {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @include xxl {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
  }
  @include xxl {
    max-width: 60vw;
  }
}
