@keyframes highlight {
  0% {
    background: var(--color-orange-3);
  }
  100% {
    background: transparent;
  }
}

.shoppingItem {
  display: flex;
  margin-bottom: var(--step-0);
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
  }

  input[type="checkbox"],
  .amount-unit,
  button:nth-child(1) {
    margin-right: var(--step--1);

    @include lg {
      margin-right: var(--step-0);
    }
  }

  .highlight {
    animation: highlight 2s;
  }

  .amount-unit-ingredient {
    display: flex;
    flex-direction: row;
    margin-right: var(--step-1);

    @include lg {
      margin-right: var(--step-2);
    }

    div.amount-unit {
      min-width: var(--step-5);
    }
  }
}
