#pg_dump --host ec2-54-195-141-170.eu-west-1.compute.amazonaws.com --port 5432 --user udgtkmzwehgahz d24imd175k5cc0 > backup.sql
ENV=development | production

DB_URL=
SHADOW_DB_URL=

PORT=1337

CLOUDINARY_ID=
CLOUDINARY_PRESET_ID=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ALLOWED_ORIGIN=